.DTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 100%;
    padding-top: 20px; 
  }
  
  .DTitle h1 {
    font-size: 48px; 
    margin: 0; 
    text-align: center; 
  }

  .DTitle h2 {
    font-size: 25px;
    margin: 0;
    margin-top: 50px;
    text-align: center; 
  }

  .Dresults {
    position: absolute;
    left: 160px; 
    top: 150px; 
  }
  
  .Dbar {
    position: absolute;
    right: 160px; 
    top: 150px; 
  }