.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px; 
}

.quiz-buttons {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.quiz-buttons Button,
.quiz-buttons Button {
  background-color: #000000;
  border: none; 
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgb(255, 255, 255); 
  transition: all 0.2s ease-in-out; 
}

.quiz-buttons Button:hover,
.quiz-buttons Button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); 
  transform: translateY(-2px); 
}

.quiz-buttons Button:active,
.quiz-buttons Button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
  transform: translateY(2px); 
}


